@import "fonts";
$font-primary-light: 'apercu_light', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-primary: 'apercu_regular', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-primary-bold: 'apercu_bold', 'Helvetica Neue', 'Helvetica', arial, sans-serif;

$font-weight-normal: 400;
$font-weight-heavy: 700;

$text-x-large: 30px;
$text-large: 24px;
$text-medium: 17px;

$line-height-large: 36px;
$line-height-medium: 26px;
$line-height-small: 20px;

$space-x-large: 160px;
$space-large: 80px;
$space-medium: 40px;
$space-small: 20px;
$space-x-small: 10px;

$color-base: #EFC3C6;
$color-accent: #88C2E3;
$color-text: #7F694B;

$width-tiny: 400px;
$width-mobile: 480px;
$width-small: 780px;
$width-medium: 800px;
$width-full: 960px;
